---
import { getLangFromUrl } from '../i18n/utils';
import Project from './project-item.astro';

const language = getLangFromUrl(Astro.url);
let projects = await Astro.glob('/src/pages/*/projects/*.md*');
---

<div class="project-list">
    {projects
        .filter(p => p.url.includes(`/${language}/`) && p.frontmatter.featured)
        .sort((a, b) => b.frontmatter.year - a.frontmatter.year)
        .map(p => <Project title={p.frontmatter.title} year={p.frontmatter.year} poster={p.frontmatter.poster} url={p.url}></Project>)
    }
</div>